@model DentAssist.Models.ViewModels.CitaViewModel

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" type="datetime-local"
                       value="@Model.Fecha.ToString("yyyy-MM-ddTHH:mm")" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DuracionMinutos" class="control-label"></label>
                <input asp-for="DuracionMinutos" class="form-control" />
                <span asp-validation-for="DuracionMinutos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label"></label>
                <select asp-for="PacienteId" class="form-control" asp-items="Model.Pacientes">
                    <option value="">Seleccione un paciente</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="OdontologoId" class="control-label"></label>
                <select asp-for="OdontologoId" class="form-control" asp-items="Model.Odontologos">
                    <option value="">Seleccione un odontologo</option>
                </select>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a las Citas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
