@model DentAssist.Models.Entities.Cita

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Cita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                @if (User.IsInRole("Odontologo"))
                {
                    <input asp-for="Fecha" class="form-control" disabled />
                }
                else
                {
                    <input asp-for="Fecha" class="form-control" />
                }
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracion" class="control-label"></label>
                @if (User.IsInRole("Odontologo"))
                {
                    <input asp-for="Duracion" class="form-control" disabled />
                }
                else
                {
                    <input asp-for="Duracion" class="form-control" />
                }
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label">Paciente</label>
                @if (User.IsInRole("Odontologo"))
                {
                    <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId" disabled></select>
                }
                else
                {
                    <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteId"></select>
                }
                <span asp-validation-for="PacienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OdontologoId" class="control-label">Odontologo</label>
                @if (User.IsInRole("Odontologo"))
                {
                    <select asp-for="OdontologoId" class="form-control" asp-items="ViewBag.OdontologoId" disabled></select>
                }
                else
                {
                    <select asp-for="OdontologoId" class="form-control" asp-items="ViewBag.OdontologoId"></select>
                }
                <span asp-validation-for="OdontologoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                @if (User.IsInRole("Odontologo"))
                {
                    <select asp-for="Estado" class="form-control" asp-items="ViewBag.Estado" disabled></select>
                } else
                {
                    <select asp-for="Estado" class="form-control" asp-items="ViewBag.Estado"></select>
                }
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Odontologo"))
            {
                <div class="form-group">
                    <label asp-for="Observaciones" class="control-label"></label>
                    <input asp-for="Observaciones" class="form-control" />
                    <span asp-validation-for="Observaciones" class="text-danger"></span>
                </div>
            }
            <div class="form-group my-3">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a las Citas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
